﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Friend";
}

<div class="h4 mb-4">Create Form Friend</div>

<form action="Create" method="post">
  <div class="mb-4 row">
    <label for="Id" class="col-sm-2 col-form-label">Id</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Id" name="Id">
    </div>
  </div>
  <div class="mb-4 row">
    <label for="Name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Name" name="Name">
    </div>
  </div>
  <div class="mb-4 row">
    <label for="Address" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="Address" name="Address"></textarea>
    </div>
  </div>

  
  <div class="mb-4 row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back to List</a>
    </div>
  </div>
</form>