﻿@model Friend

@{
    ViewData["Title"] = "Hapus Friend";
}

<div>Are you sure delete this data @Model.Name ?</div>

<form action="Delete" method="post">
    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    @*<input type="hidden" id="Name" name="Name" value="@Model.Name" />*@
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-light" asp-controller="Friend" asp-action="Index">Back to List</a>
    </div>
</form>