﻿
@{
    ViewData["Title"] = "Delete Category Try";
}

<div class="card">
    <div class="card-body">

        <form asp-action="Delete" method="post">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="h3 mb-4">Are you sure for delete @Model.NameCategory ?</div>

            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to List</a>
                </div>
            </div>

        </form>

    </div>
</div>
