﻿@using xpos334.viewmodels
@model VMTblCategory

@{
    ViewData["Title"] = "Detail Category Try";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>    

        <div class="mb-4 row">
            <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory" readonly>
                    
            </div>
        </div>
        <div class="mb-4 row">
            <label for="Description" class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description" readonly>
                    
            </div>
        </div>


        <div class="mb-4 row">
            <div class="col-sm-8">
                    
                <a class="btn btn-light" asp-controller="CategoryTry" asp-action="Index">Back to List</a>
            </div>
        </div>

    </div>
</div>
