﻿<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Search Transaction</h3>
    </div>

    <form asp-action="HistoryOrder">
        <div class="card-body">

            <div class="form-group">
                <label for="CodeTransaction">Code Transaction</label>
                <input type="text" class="form-control" id="CodeTransaction" name="CodeTransaction" placeholder="Code Transaction" />
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="MinDate">Min Date</label>
                    <input type="date" class="form-control" id="MinDate" name="MinDate" placeholder="Min Date" />
                </div>
                <div class="col-6">
                    <label for="MaxDate">Max Date</label>
                    <input type="date" class="form-control" id="MaxDate" name="MaxDate" placeholder="Max Date" />
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="MinAmount">Min Amount</label>
                    <input type="number" class="form-control" id="MinAmount" name="MinAmount" placeholder="0" />
                </div>
                <div class="col-6">
                    <label for="MaxAmount">Max Amount</label>
                    <input type="number" class="form-control" id="MaxAmount" name="MaxAmount" placeholder="0" />
                </div>
            </div>

        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right">Search</button>
        </div>
    </form>

</div>


<script>

    $("#MinDate").change(function(){
        var min = $(this).val()
        $("#MaxDate").attr({ "min" : min })
    })

    $("#MaxDate").change(function(){
        var max = $(this).val()
        $("#MinDate").attr({ "max" : max })
    })

</script>