﻿
@using xpos334.datamodels

@model TblRole

@{
    ViewData["Title"] = "Create Role";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Create" method="post" id="form_input">
            <div class="mb-4 row">
                <label for="RoleName" class="col-sm-4 col-form-label">Role Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName">
                    <span id="validate_RoleName" class="text-danger"></span>
                </div>
            </div>


            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            RoleName:{
                required:true,
                minlength:3,
            }
        },
        messages:{
            RoleName:{
                required:"Please fill Role Name",
                minlength:"The name must consist of at least 3 characters",
            }
        },
        submitHandler: function(form){

            var dataForm = $(form).serialize();

            var roleName = $("#RoleName").val()
            var id = 0

            $.ajax({
                url:"/Role/CheckNameIsExist",
                type:"get",
                //method:"get", //sama aja
                data: { roleName: roleName, id: id },
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_RoleName").text("Role Name is already exists")
                        return true
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam){
        $.ajax({
            url: '/Role/Create',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function(respon){
                var data = respon.dataRespon

                if(data.success){
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut:500,
                            fadeOut:500,
                            onHidden: function(){
                                window.location.reload()
                            }
                        }
                    )
                }
                else{
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>