﻿
@using xpos334.datamodels

@model TblCategory

@{
    ViewData["Title"] = "Edit Category";
}

<div class="card">
    <div class="card-body">

        <div class="h4 mb-4">@ViewData["Title"]</div>

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <div class="mb-4 row">
                <label for="NameCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCategory" name="NameCategory" value="@Model.NameCategory">
                    <span id="validate_NameCategory" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" id="Description" name="Description">@Model.Description</textarea>
                </div>
            </div>


            <div class="mb-4 row">
                <div class="col-sm-8">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Category" asp-action="Index">Back to List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>

    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameCategory:{
                required:true,
                minlength:3,
            }
        },
        messages:{
            NameCategory:{
                required:"Please fill Name Category",
                minlength:"The name must consist of at least 3 characters",
            }
        },
        submitHandler: function(form){

            var dataForm = $(form).serialize();

            var nameCategory = $("#NameCategory").val()
            var id = $("#Id").val()

            $.ajax({
                url:"/Category/CheckNameIsExist",
                type:"get",
                //method:"get", //sama aja
                data: { nameCategory: nameCategory, id: id },
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_NameCategory").text("Name Category is already exists")
                        return true
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })
        }
    })

    function fungsiSubmit(dataParam){
        $.ajax({
            url: '/Category/Edit',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function(respon){
                debugger
                var data = respon.dataRespon
                console.log(data)
                if(data.success){
                    $("#my_modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut:500,
                            fadeOut:500,
                            onHidden: function(){
                                window.location.reload()
                            }
                        }
                    )
                }
                else{
                    toastr.errorClass(data.message)
                }

            }
        })
    }

</script>