﻿
@{
    ViewData["Title"] = "Multiple Delete Variant";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureMultipleDelete" method="post" id="form_delete">

            <h3>Are you sure for delete ?</h3>
            @foreach (var item in ViewBag.ListName)
            {
                <h4>@item</h4>
            }

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-controller="Variant" asp-action="Index" class="btn btn-light">No</a>
            </div>

        </form>

    </div>
</div>

<script>

    $("#form_delete").validate({
        submitHandler: function(form){

            $.ajax({
                url: '/Variant/SureMultipleDelete',
                type: "post",
                data: { listId : listId },
                dataType: "json",
                success: function(respon){
                    var data = respon.dataRespon

                    if(data.success){
                        $("#my_modal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut:500,
                                fadeOut:500,
                                onHidden: function(){
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else{
                        toastr.errorClass(data.message)
                    }

                }
            })

        }
    })

</script>