﻿@using xpos334.viewmodels

@model VMTblCustomer

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="card">
    <div class="card-body">

        <form asp-action="SureDelete" method="post" id="form_delete">

            <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

            <h3>Are you sure for delete @Model.NameCustomer ?</h3>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <a asp-controller="Customer" asp-action="Index" class="btn btn-light">No</a>
            </div>

        </form> 

    </div>
</div>

<script>
    $("#form_delete").validate({
        submitHandler: function(form){
            
            //var dataParam = $(form).serialize()
            var id = $("#Id").val()

            $.ajax({
                url: '/Customer/SureDelete',
                type: "post",
                data: { id: id },
                dataType: "json",
                success: function(respon){
                    var data = respon.dataRespon
                
                    if(data.success){
                        $("#modal").modal("hide")

                        Swal.fire(
                          'Information!',
                          data.message,
                          'success'
                        ).then(function(){
                            window.location.reload()
                        })

                    }
                    else{

                        Swal.fire({
                            icon: 'error',
                            title: 'Warning!',
                            text: data.message
                        })
                    }
                }
            })

        }

    })
</script>