﻿
@{
    ViewData["Title"] = "Detail Customer";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>

            <div class="mb-4 row">
                <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer" readonly>

                </div>
            </div>
            <div class="mb-4 row">
                <label for="Email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" readonly>

                </div>
            </div>
            <div class="mb-4 row">
                <label for="Password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password" readonly>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="RoleName" class="col-sm-4 col-form-label">Role</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="RoleName" name="RoleName" value="@Model.RoleName" readonly>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" readonly>
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Address" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="Address" name="Address" readonly>@Model.Address</textarea>
                </div>
            </div>
  
            <div class="mb-4 row">
                <div class="col-sm-8">

                    <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
                </div>
            </div>

    </div>
</div>