﻿@using xpos334.viewmodels

@model VMTblCustomer

@{
    ViewData["Title"] = "Edit Customer";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">@ViewData["Title"]</div>

            <form asp-action="Edit" method="post" id="form_input">

                <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">

                <div class="mb-4 row">
                    <label for="NameCustomer" class="col-sm-4 col-form-label">Name Customer</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="NameCustomer" name="NameCustomer" value="@Model.NameCustomer">

                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="Email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email">
                        <span id="validate_Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="Password" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="Password" name="Password" value="@Model.Password">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="IdRole" class="col-sm-4 col-form-label">Role</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("IdRole",
                        new SelectList(ViewBag.ListRole, "Id", "RoleName"),
                        "--Pilih Role--",
                        new { @class = "form-control" }
                        )
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="Phone" class="col-sm-4 col-form-label">Phone</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone">
                    </div>
                </div>
                <div class="mb-4 row">
                    <label for="Address" class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" id="Address" name="Address" >@Model.Address</textarea>
                    </div>
                </div>
  
                <div class="mb-4 row">
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a class="btn btn-light" asp-controller="Customer" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass:"text-danger",
        rules:{
            NameCustomer : {
                required : true,
                minlength : 5,
            },
            Password : {
                required : true,
            },
            Email : {
                required : true,
            },
            IdRole : "required"
        },
        messages:{
            NameCustomer : {
                required : "Please fill Name Customer",
                minlength : "The name must consist of at least 5 characters",
            },
            Password : {
                required : "Please fill Password",
            },
            Email : {
                required : "Please fill Email",
            },
            IdRole : "Please select role"
        },
        submitHandler: function(form){
            
            var dataForm = $(form).serialize()
            //debugger
            var email = $("#Email").val()
            var id = $("#Id").val()

            $.ajax({
                url :"/Customer/CheckEmailIsExist",
                type:"get",
                //method:"get", //sama aja
                data: { email: email, id: id },
                dataType: "json",
                success: function(respon){
                    if(respon){
                        $("#validate_Email").text("Email is already exists")
                        return true
                    }
                    else{
                        fungsiSubmit(dataForm)
                    }
                }
            })

        }
    })

    function fungsiSubmit(dataParam){
        $.ajax({
            url: '/Customer/Edit',
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function(respon){
                var data = respon.dataRespon
                
                if(data.success){
                    $("#modal").modal("hide")

                    Swal.fire(
                      'Information!',
                      data.message,
                      'success'
                    ).then(function(){
                        window.location.reload()
                    })
                }
                else{

                    Swal.fire({
                        icon: 'error',
                        title: 'Warning!',
                        text: data.message
                    })
                }
            }
        })
    }

</script>